<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>STEMIHexapod.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0640EAF31CCBF5AE00FE5E30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06F3732D1D85E86F00F44D21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06F373361D85E86F00F44D21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
